/* :root{
    --Palepeach: rgb(255, 229, 180);
    --orange: orange;
    --mint: #98ff98;
    --deep-forest-green: rgb(0, 51, 20);
} */

.navLogo{
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    margin: 0 0 0 2%;
}

.navbar{
    /* background-color: brown; */
}

.navItems{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0;
    margin: 1%;
}

.navItems li{
    padding: 0.4em 1em;
    transition: 0.3s ease-in-out all;
}

.navItems li:hover {
    background-color: orange;
    border-radius: 10px;
}

.navItems li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}